body{
    background-image: url(../imagens/back-geral.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    font-family:'VT323', monospace;
    color: #f3f3f3;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 30px;
}

.cartao{
    background-color:rgba(169, 169, 169, 0);
    width: 420px;
    height: 650px;
    border: 2px solid rgba(222, 32, 32, 0.7);
    border-radius: 10px;
    overflow: hidden;
}

.cartao .minhas-informacoes{
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center; /*alinha horizontalmente por causa do flex direction column*/
    gap: 10px;
}

.cartao .minhas-informacoes img{
    width: 120px;
    height: 120px;
    border-radius: 65px;
    border: 2px solid rgba(222, 32, 32, 0.7);
}

.cartao .minhas-informacoes .nome{
    font-size: 26px;
}

.cartao .minhas-informacoes .cargo{
    font-size: 20px;
    color: #b8bbc5;
}

.cartao .conteudo{
    margin-top: 15px;
}

.cartao .abas{
    display: flex;
    height: 50px;
}   

.cartao .abas .aba{
    width: 50%;
    display: flex;
    justify-content: center;
    padding: 10px 0;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

.cartao .abas img{
    width: 35px;
}

.cartao .abas .aba.selecionada{
    background-color:rgba(169, 169, 169, 0.07);
}

.cartao .informacoes-abas{
    background-color:rgba(169, 169, 169, 0.07);
}

.cartao .abas .aba:hover{
    background-color: #414141;
}

.informacoes-abas .informacao{
    min-height: 260px;
    height: 400px;
    padding: 15px;
    display: none;
}

.informacoes-abas .informacao.selecionada{
    display: block;
}

.informacoes-abas .sub-titulo{
    font-size: 22px;
    text-align: center;
}

.informacoes-abas .descricao{
    margin-top: 12px;
    font-size: 20px;
    max-height: 290px;
    overflow-y: auto;
    padding-right: 15px;
    padding: 10px;
}

.informacoes-abas .descricao span{
    color: yellow;
}

.redes-sociais{
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    height: 290px;
    overflow-y: auto;
    padding: 50px;
}

.redes-sociais li a{
    width: 250px;
    display: block;
    color: #f3f3f3;
    text-align: center;
    padding: 10px;
    font-size: 20px;
    transition: opacity 0.3s ease-in-out;
}

.redes-sociais li a:hover{
    opacity: 0.8;
}

.redes-sociais .instagram{
    background-color: rgba(188, 42, 141, 0.5);
    border-radius: 50px;
}

.redes-sociais .linkedin{
    background-color: rgba(29,135,189, 0.5);
    border-radius: 50px;
}

.redes-sociais .github{
    background-color: rgba(84, 84, 84, 0.5);
    border-radius: 50px;
}

