/* Works on Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: #e228d8 #070d12;
  }
  
  /* Works on Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 10px;
  }
  
  *::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 10px;
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: rgba(222, 32, 32, 1);
    border-radius: 20px;
    border: 2px solid #070d12;
  }


